{
  "host": "<hostname>",
  "username": "<username>",
  "password": "<password>",
  "path": "/path/to/dir/on/server/",
  "keys": {
    "trains": "<API key for trafiklab.se>",
    "yoda": {
      "mashup": "<API key for mashape.com>",
      "slack": "<API key for Slack app>"
    }
  }
}
